$def with (content)
<!DOCTYPE html>
<html>
	<head>
		<title>$content.title - Pastetron</title>
		<link rel="stylesheet" type="text/css" media="all" href="/pygments.css">
		$for name in ('all', 'screen', 'print'):
			<link rel="stylesheet" type="text/css" media="$name" href="/static/${name}.css">
	</head>
	<body>
		<div class="nav">
			<ul>
				<li class="primary"><a href="/">Home</a></li>
			</ul>
		</div>
		<h1><span>Pastetron:</span> $content.title</h1>
		<div class="content">$:content</div>
	</body>
</html>
