$def with (content)
<!DOCTYPE html>
<html>
	<head>
		<title>$content.title - Pastetron</title>
		<link rel="stylesheet" type="text/css" media="all" href="$url('/pygments.css')">
		<link rel="alternate" type="application/atom+xml" href="$url('/pastes/')" title="Feed of Latest Pastes">
		$for name in ('all', 'screen', 'print'):
			<link rel="stylesheet" type="text/css" media="$name" href="$url('/static/%s.css' % name)">
	</head>
	<body>
		<div class="nav">
			<ul>
				<li class="primary"><a href="$url('/')">Home</a></li>
				<li><a href="$url('/pastes/')">Recent Pastes</a></li>
			</ul>
		</div>
		<h1><span>$get_site_name()</span> $content.title</h1>
		<div class="content">$:content</div>
	</body>
</html>
