$def with (paste_id, created, poster, title, body, syntax, comments)
$var title: $:title

<div class="paste">
	<p>Pasted by <strong>$poster</strong> on <strong>$human(created)</strong>:</p>
	<div>$:body</div>
	<p class="tools"><a href="$url('/%s/raw' % paste_id)">Download raw text</a></p>
</div>

<div class="comments">
$for comment in comments:
	<div class="comment">
		<p class="comment-head"><strong>$comment['poster']</strong> wrote on <strong>$human(comment['created'])</strong>:</p>
		$:creole2html(comment['body'])
	</div>
</div>

<form method="post" action="$url()">
	<div>
		<label>
			<strong>Your name</strong>
			<input type="text" name="poster" value="" size="40">
		</label>
	</div>
	<div>
		<textarea rows="10" name="body"></textarea>
	<div>
		<input type="submit" value="Comment!">
	</div>
</form>
