$def with (paste_id, created, poster, title, chunks, comments, user, comment='', captcha_error=None)
$var title: $:title

<div class="paste">
	<p>Pasted by <strong>$poster</strong> on <strong>$human(created)</strong>:</p>
	$for chunk in chunks:
		<div>$:highlight(chunk.body, chunk.syntax)</div>
		<p class="tools"><a href="$url('/chunks/%s' % chunk.chunk_id)">&#8595; Download</a></p>
</div>

<div class="comments">
$for c in comments:
	<div class="comment">
		<p class="comment-head">
			<a href="#c$c.comment_id" name="c$c.comment_id">#$loop.index</a>:
			<strong>$c.poster</strong> wrote on
			<strong>$human(c.created)</strong>:
		</p>
		$:creole2html(c.body)
	</div>
</div>

<form method="post" action="$url()">
	<div>
		<label>
			<strong>Your name</strong>
			<input type="text" name="poster" value="$user" size="40">
		</label>
	</div>
	<div>
		<textarea rows="10" name="body">$comment</textarea>
	</div>
	<div>$:captcha(captcha_error)</div>
	<div>
		<input type="submit" value="Comment!">
		<strong>Hey!</strong> You can use
		<a href="http://www.wikicreole.org/wiki/CheatSheet" target="_new">Creole</a>
		to mark up your comment. It's super effective!
	</div>
</form>
