$def with (user='', title='', syntax='text', body='', captcha_error=None, preview=False)
$var title: New paste

$if preview:
	<div class="paste">
		<p>Preview:</p>
		<div>$:highlight(body, syntax)</div>
	</div>

<form method="post" action="$url()">
	<div>
		<label>
			<strong>Your name</strong>
			<input type="text" name="poster" value="$user" size="40">
		</label>
	</div>
	<div>
		<label>
			<strong>Title</strong>
			<input type="text" name="title" value="$title" size="40">
		</label>
	</div>
	<div>
		<label>
			<strong>Syntax</strong>
			<select name="syntax">
			$for name, value in lexers:
				$if syntax == value:
					<option value="$value" selected>$name</option>
				$else:
					<option value="$value">$name</option>
			</select>
		</label>
	</div>
	<div>
		<textarea rows="20" name="body">$body</textarea>
	</div>
	<div>$:captcha(captcha_error)</div>
	<div>
		<input type="submit" name="do_paste" value="Paste!">
		<input type="submit" name="do_preview" value="Preview!">
	</div>
</form>
