$def with (poster="Anonymous", syntax='', body='')
$var title: New paste

<form method="post" action="">
	<div>
		<label>
			<strong>Your name</strong>
			<input type="text" name="poster" value="$poster">
		</label>
	</div>
	<div>
		<label>
			<strong>Syntax</strong>
			<select name="syntax">
			$for name, value in lexers:
				$if syntax == value:
					<option value="$value" selected>$name</option>
				$else:
					<option value="$value">$name</option>
			</select>
		</label>
	</div>
	<div>
		<textarea rows="20" name="body">$body</textarea>
	</div>
	<div>
		<input type="submit" value="Paste!">
	</div>
</form>
