@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);

html {
	width: 60em;
	margin: 0 auto;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	line-height: 1.4;
	background: #F8F0E8;
	color: #544C44;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	position: relative;
}

table {
	border-collapse: collapse;
}
th, td {
	padding: 0;
	margin: 0;
	text-align: left;
	vertical-align: top;
}

h1 {
	font-size: 200%;
	margin: 0;
	padding: 1em 0.5em 0.25em 0.5em;
	line-height: 1.2;
	background: #544C44;
	color: #C8C0B8;
	font-weight: normal;
}

h1 span {
	font-size: 50%;
	display: block;
	font-weight: bold;
}

.nav {
	border-bottom: 1px solid #544C44;
}
.nav ul {
	font-size: 80%;
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
}
.nav ul li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.nav a {
	font-weight: bold;
	color: #544C44;
	text-decoration: none;
	display: block;
	padding: 0.625em 1.25em;
	float: left;
}
.nav a:hover {
	background: #C8C0B8;
}

.content .paste {
	border-bottom: 1px solid #544C44;
	background: #F8F0E8;
	overflow-x: auto;
	width: 100%;
}

.content .paste > p {
	margin: 0.5em 1em;
}

.content .paste .highlight {
	background: inherit;
}

.content table.pastes, .content table.csv {
	width: 100%;
}
.content table.csv thead, .content table.pastes thead {
	background: #544C44;
	color: #C8C0B8;
}
.content table.pastes tbody tr, .content table.csv tbody tr {
	border-bottom: 1px solid #544C44;
}

.content table.pastes th,
.content table.pastes td,
.content table.csv th,
.content table.csv td {
	padding: 0.125em 1em;
}
.content table.pastes th + th,
.content table.pastes td + td,
.content table.csv th + th,
.content table.csv td + td {
	padding-left: 0;
}

.content .creole {
	border: 1px solid #DDD;
	background: white;
	padding: 1em;
	margin: 1em 0;
}

.content .comment {
	border-bottom: 1px solid #544C44;
	padding: 0.5em 1em;
}

.content .comment p {
	margin: 1ex 0 0 0;
}

.content ol.pagination {
	overflow: hidden;
	width: 100%;
	text-align: center;
	margin: 1em 0;
	padding: 0;
	list-style: none;
}
.content ol.pagination li {
	display: inline;
	margin: 0 0.25ex;
	padding: 0;
}
.content ol.pagination li.current {
	padding: 0.125ex 0.75ex;
	font-weight: bold;
}
.content ol.pagination li a {
	padding: 0.125ex 0.75ex;
	background: #C8C0B8;
	color: black;
	text-decoration: none;
}

form {
	margin: 1em 0;
}

form textarea {
	/* I think this is one of the few valid uses of !important I can think
	   of within something other than a user stylesheet. */
	width: 100% !important;
}
form label {
	margin-left: 7em;
	display: block;
}
form label strong {
	float: left;
	display: inline-block;
	width: 7.75em;
	margin-left: -8em;
	text-align: right;
}

.highlighttable {
	border-top: 1px solid #544C44;
	border-bottom: 1px solid #544C44;
	width: 100%;
}
.highlighttable .linenos {
	background: #544C44;
	color: #C8C0B8;
	padding: 0 1ex;
	width: 1px;
}
.highlighttable .code {
	padding-left: 1ex;
	background: inherit;
}
